body{
    background-color: beige;
}

header{
    background-color: gray;
}

main{
    width: 80%;
    float: left;
    background-color: burlywood;
}

aside{
    width: 20%;
    float: right;
    background-color: coral;
}

footer{
    align-self: center;
    clear: both;
}
